body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "sans-serif";
}

body{
    background-color: #222;
}
.heading{
    background: linear-gradient(135deg,#00fefe, #41358f);
    color: #fff;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    margin: 10px auto 10px;
    padding: 20px 90px;
    max-width: 530px;
    font-weight: bolder;
}

.card{
    width: 80%;
    max-width: 430px;
    background: linear-gradient(135deg,#00feba, #5b548a);
    color: #fff;
    margin: 40px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    width: 70%;
    outline: 0 ;
    border: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 60px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    outline: 0 ;
    border: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
    margin-top: 7px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin-top: -10px;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -60px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 50px;
    margin-right: 10px;
    margin-top: 10px;
}

.humidity, .wind{
    font-size: 28px;
    
}

.hword, .wword{
    margin-top: -20px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

@media (max-width: 480px){
    .card{
        margin-top: 20px;
        /* border-radius: 0px; */
    }

    .heading{
        padding: 20px 10px;
        font-size: 20px;
        
        font-weight: bolder;
    }
}